<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  @vite(['inertia/app/app.ts', `inertia/pages/${page.component}.vue`])
  @inertiaHead()
</head>

<body data-app-domain="{{ APP_DOMAIN }}" class="min-h-screen w-screen font-sans">
  <div id="context"></div>
  <div id="portal"></div>
  
  @inertia()

  <script async src="https://analytics.adocasts.com/js/embed.host.js"></script>
</body>
</html>